<?xml version="1.0"?>
<launch>
    <!-- NAVIGATION SYSTEM -->
    <!-- ARDUINO NODE -->
    <node pkg="serial_node" 
    type="serial_node_1.py" 
    name="serial_node_1" 
    output="screen">
    <param name="port" value="/dev/serial/by-id/usb-Arduino__www.arduino.cc__0042_44238313938351806212-if00"/>
    </node>

    <!-- SERVOS NODE -->
    <node pkg="servos" 
    type="servos_node" 
    name="servos" 
    output="screen">
    <param name="port" value="/dev/serial/by-id/usb-FTDI_USB__-__Serial_Converter_FT89FKZ2-if00-port0"/>
    </node>

    <!-- VISION SYSTEM -->
    <!-- RAW IMAGE PUBLISHER -->
    <node pkg="vision_system" 
    type="raw_image_publisher.py" 
    name="raw_image" 
    output="screen">
    </node>

    <!-- COORDS IMAGE SUBSCRIBER -->
    <node pkg="vision_system" 
    type="coords_image_subscriber.py" 
    name="coords_image_subscriber" 
    output="screen">
    </node>

    <!-- GET COORDS ACTION SERVER -->
    <node pkg="vision_system" 
    type="get_coords_server.py" 
    name="get_coords_server" 
    output="screen">
    </node>

    <!-- ARM SYSTEM -->

    <!-- STATE MACHINE -->
    <node pkg="state_machine" 
    type="COMP_SM.py" 
    name="STATE" 
    output="screen">
    </node>


</launch>
