<?xml version="1.0"?>
<launch>
    <!-- NAVIGATION SYSTEM -->
    <node pkg="serial_node" 
    type="serial_node_1.py" 
    name="serial_node_1" 
    output="screen">
    <param name="port" value="/dev/serial/by-id/usb-1a86_USB2.0-Serial-if00-port0"/>
    </node>

    <node pkg="navigation_system" 
    type="navigation_SM" 
    name="Nav" 
    output="screen">
    </node>

    <node pkg="servos" 
    type="servos_node" 
    name="servos" 
    output="screen">
    <param name="port" value="/dev/ttyUSB1"/>
    </node>

    <!-- VISION SYSTEM -->
    <node pkg="vision_system" 
    type="raw_image_publisher.py" 
    name="raw_image" 
    output="screen">
    </node>

    <node pkg="vision_system" 
    type="coords_image_subscriber.py" 
    name="coords_image_subscriber" 
    output="screen">
    </node>

    <node pkg="vision_system" 
    type="get_coords_server.py" 
    name="get_coords_server" 
    output="screen">
    </node>

    <!-- ARM SYSTEM -->

    <!-- STATE MACHINE -->
    <node pkg="state_machine" 
    type="SM_WCU.py" 
    name="STATE" 
    output="screen">
    </node>


</launch>
